.item{
    max-width: 100%;
    list-style: none;
    border: 3px solid white;
    border-radius: 36px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.item img{
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.item p{
    font-size: 2rem;
    padding: .6em;
}

.item:hover{
    box-shadow: -1px 1px 45px 12px var(--blue);
    border: 3px solid var(--blue);
    transition: box-shadow .3s ease, border .3s ease;
}

@keyframes entry{
    from{
        transform: scale(0);
    }to{
        transform: scale(1);
    }
}

